<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Credit hours:</strong>
  <%= @course.credit_hours %>
</p>

| <%= link_to 'Edit', edit_course_path(@course) %> |

<table>
  <h1>Sections<h1>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Number</th>
      <th>Room Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.sections.each do |section| %>
      <tr>
        <td><%= section.semester %></td>
        <td><%= section.number %></td>
        <td><%= section.room_number %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', courses_path %>
