<!DOCTYPE html>
<html>
  <head>
    <title>BetterBanner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <div class="container">
      <header class="navbar" role="navigation">
        <div id="navbarBetterBanner" class="navbar-menu">
          <div class="navbar-item">
            <%=link_to "Home", courses_path%>
          </div>
          <div class="navbar-item">
            <%= link_to "Sections", sections_path %>
          </div>
          <div class="navbar-item">
            <%= link_to "Students", students_path %>
          </div>
          <a class="navbar-item">
            About
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <a class="navbar-item">
                <strong>
                  <%= link_to "#{current_user.email}", edit_user_registration_path, :class => 'navbar-button'%>
                </strong>
              </a>

              <div class="button is-light">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-button' %>
              </div>
            <% else %>
              <a
            <div class="buttons">
              <div class="button is-primary">
                <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-button' %>
              </div>
              <div class="button is-light">
                <%= link_to "Login", new_user_session_path, :class => 'navbar-button' %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </header>
    </div>

    <%= yield %>
  </body>
</html>
